@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    30deg,
    hsl(268deg 76% 97%) 0%,
    hsl(308deg 45% 94%) 22%,
    hsl(330deg 58% 93%) 30%,
    hsl(341deg 67% 91%) 38%,
    hsl(347deg 74% 90%) 45%,
    hsl(351deg 79% 88%) 53%,
    hsl(354deg 83% 87%) 62%,
    hsl(357deg 87% 85%) 72%,
    hsl(358deg 89% 83%) 85%,
    hsl(0deg 91% 82%) 100%
  );
}

body.dark {
  background-image: linear-gradient(
  125deg,
  hsl(225deg 100% 5%) 0%,
  hsl(226deg 96% 5%) 19%,
  hsl(226deg 93% 4%) 27%,
  hsl(227deg 87% 3%) 34%,
  hsl(257deg 79% 4%) 41%,
  hsl(260deg 90% 7%) 47%,
  hsl(261deg 93% 9%) 53%,
  hsl(262deg 96% 10%) 59%,
  hsl(262deg 96% 10%) 66%,
  hsl(261deg 95% 9%) 73%,
  hsl(258deg 94% 7%) 81%,
  hsl(250deg 92% 5%) 100%
)
}